<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">

            <h1>Editar encuentro</h1>

            <form action="/meetup/edit/{{id}}" method="POST">

                <div class='form-group'>
                    <label for='name'>Nombre del encuentro</label>
                    <input name='name' type='text' class='form-control' placeholder='Nombre del encuentro' id='name'
                        value="{{name}}" required>
                </div>

                <div class='form-group'>
                    <label for='description'>Descripci贸n del encuentro</label>
                    <input name='description' type='text' class='form-control' placeholder='Descripci贸n del encuentro'
                        id='description' value="{{description}}" required>
                </div>

                <div class='form-group'>
                    <label for='date'>Fecha y hora</label>
                    <input name='date' type='text' class='form-control' placeholder='Fecha y hora' id='date'
                        value="{{date}}" required>
                </div>

                <div class='form-group'>
                    <label for='address'>Direcci贸n</label>
                    <input name='address' type='textbox' class='form-control' placeholder="Direcci贸n" id='address'
                        value="{{address}}" required>
                </div>

                <button type='submit' class='btn btn-light btn-block'>Guardar cambios</button>

            </form>

        </div>
    </div>
</div>