<div class="container">

    <h1 class="main-title">Planifica tus encuentros</h1>

    {{#if isLogged}}

    <div class="create-course">
        <a class="btn" href="/meetup/new">Crear encuentro</a>
    </div>

    {{/if}}

    <div class="row justify-content-start align-items-end">

        {{#if isLogged}}

        {{#each isOwner}}
        <div class="col-md-4">
            <div class="main-info">

                <p><strong>Nombre del encuentro:</strong> {{name}}</p>
                <p><strong>Fecha:</strong> {{date}}</p>

                <div class="buttons">
                    <a class="btn btn-light" href="/meetup/{{id}}"> Ver detalles</a>

                    <a class="btn btn-light" href="/meetup/edit/{{id}}">Edita el encuentro</a>

                    <form method="POST" action="/meetup/cancel/{{id}}">
                        <button name="active" type="submit" class="btn btn-light">Cancelar</button>
                    </form>

                </div>
                <hr>
            </div>
        </div>
        {{/each}}



        {{#each notOwner}}
        <div class="col-md-4">
            {{>meetuppartial}}
        </div>
        {{/each}}


        {{/if}}


        {{#each response}}
        <div class="col-md-4">
            {{>meetuppartial}}
        </div>
        {{/each}}


    </div>

    <div class="row map">

        <div class="col-md-12">
            <div id="myMeetsMap"></div>
        </div>

    </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

<script src="/javascripts/maps/mapstyle.js"></script>
<script src="/javascripts/maps/meets-map.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key={{APIkey}}&callback=initMap"></script>