<div class="container">

    <h1 class="main-title">Planifica tus encuentros</h1>

    <div class="row">

        {{!-- <div class="col-md-6">
            <div id="myMeetsMap"></div>
        </div> --}}

        <div class="col-md-6">

            {{#if isLogged}}

            {{#each isOwner}}

            <p>Nombre del encuentro: {{name}}</p>

            <a href="/meetup/{{id}}"> Ver detalles</a>

            <a href="/meetup/edit/{{id}}">Edita el encuentro</a>

            <form method="POST" action="/meetup/cancel/{{id}}">
                <button name="active" type="submit" class="btn btn-light">Cancelar</button>
            </form>

            {{/each}}

            {{/if}}

            {{#if isLogged}}

            <a class="btn btn-outline" href="/meetup/new">Crear encuentro</a>

            {{/if}}

            {{#each notOwner}}

            {{>meetuppartial}}

            {{/each}}

            

            {{#each response}}

            {{>meetuppartial}}

            {{/each}}

        </div>

    </div>

    <div class="row map">

        <div class="col-md-12">
            <div id="myMeetsMap"></div>
        </div>

    </div>

</div>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

{{!-- <script src="/javascripts/mapstyles.js"></script> --}}
<script src="/javascripts/maps/meets-map.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key={{APIkey}}&callback=initMap"></script>