<div class="container">

    <h1>QUEDADASSSS</h1>
    <div class="row">

        <div class="col-md-6">
            <div id="myMeetsMap"></div>
        </div>

        <div class="col-md-6">

            {{#if isLogged}}

            {{#each isOwner}}

            <p>Nombre: {{name}}</p>
            
          
            <a href="/meetup/edit/{{id}}">Edita el encuentro</a>
            
            <form method="POST" action="/meetup/cancel/{{id}}">
                <button name="active" type="submit" class="btn btn-light">Cancelar</button>
            </form>
            
            {{/each}}

            {{/if}}

            {{#each notOwner}}

             <p>Nombre: {{name}}</p>
               <form method="POST" action="/meetup/attend/{{id}}">
                <button name="assistants" type="submit" class="btn btn-light">Asistir al evento</button>
            </form>
            {{/each}}

            {{#if isLogged}}

            <a href="/meetup/new">Crear encuentro</a>
            
            {{/if}}

            {{#each response}}

            <p>Nombre: {{name}}</p>
               <form method="POST" action="/meetup/attend/{{id}}">
                <button name="assistants" type="submit" class="btn btn-light">Asistir al evento</button>
            </form>

            {{/each}}

        </div>

    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

{{!-- <script src="/javascripts/mapstyles.js"></script> --}}
<script src="/javascripts/maps/meets-map.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key={{APIkey}}&callback=initMap"></script>