<div class="container">

    <div class="row">

        <div class="col-md-4">

            {{#with user}}

            <div class="card" style="width: 18rem;">

                <a href="/profile/edit" class="card-link">
                    <img class="card-img-top" src="{{img}}" alt="Card image cap" class="rounded">
                </a>

                <div class="card-body">
                    <h5 class="card-title">{{name}} {{lastname}}</h5>
                    <h5 class="card-title">{{email}}</h5>
                </div>
                <div class="card-body">
                    <a class="btn btn-light" href="/profile/edit" class="card-link">Editar perfil</a>
                </div>
            </div>
        </div>

        {{/with}}

        <div class="col-md-8">

            {{!-- Posibilidades profesor --}}

            {{#if isTeach}}

            {{#unless emptyTeachCourse}}

            <h2 class="main-title">Estas son las clases que has creado</h2>

            {{#each courses}}

            <div>

                <p><strong>Nombre:</strong> {{name}}</p>
                <p><strong>Descripción:</strong> {{description}}</p>
                <p><strong>Fecha y hora:</strong> {{date}}</p>
                <p><strong>Dirección:</strong> {{address}}</p>


                <div class="buttons">
                    <a class="btn btn-light" href="/courses/edit/{{id}}">Editar clase</a>

                    <form method="POST" action="/courses/cancel/{{id}}">
                        <button name="active" type="submit" class="btn btn-light">Cancelar</button>
                    </form>
                </div>
                <hr>
            </div>

            {{/each}}

            {{/unless}}

            {{#unless emptyCourses}}

            <h2 class="main-title">Estas son las clases a las que te has inscrito</h2>

            {{#each user.courses}}

            <div class="col-md-8">

                <p><strong>Nombre:</strong> {{name}}</p>
                <p><strong>Descripción:</strong> {{description}}</p>
                <p><strong>Fecha y hora:</strong> {{date}}</p>
                <p><strong>Dirección:</strong> {{address}}</p>


                <form method="POST" action="/courses/cancelattend/{{id}}">
                    <button name="courses" type="submit" class="btn btn-light">Dejar de asistir</button>
                </form>
                <hr>
            </div>

            {{/each}}

            {{/unless}}

            {{/if}}

            {{!-- Posibilidades alumno --}}

            {{#if isAlumni}}

            {{#unless emptyCourses}}

            <h2 class="main-title">Estas son las clases a las que te has inscrito</h2>

            {{#each user.courses}}

            <div>

                <p><strong>Nombre:</strong> {{name}}</p>
                <p><strong>Descripción:</strong> {{description}}</p>
                <p><strong>Fecha y hora:</strong> {{date}}</p>
                <p><strong>Dirección:</strong> {{address}}</p>


                <form method="POST" action="/courses/cancelattend/{{id}}">
                    <button name="courses" type="submit" class="btn btn-light">Dejar de asistir</button>
                </form>
                <hr>
            </div>

            {{/each}}

            {{/unless}}

            {{/if}}

            {{!-- Posibilidades meets --}}

            {{#unless emptyMeetups}}

            <h2 class="main-title">Estos son los encuentros a los que deseas asistir</h2>


            {{#each user.meetups}}

            <div>
                <p><strong>Nombre:</strong> {{name}}</p>
                <p><strong>Descripción:</strong> {{description}}</p>
                <p><strong>Fecha y hora:</strong> {{date}}</p>
                <p><strong>Dirección:</strong> {{address}}</p>

                <form method="POST" action="/meetup/cancelattend/{{id}}">
                    <button name="meetups" type="submit" class="btn btn-light">Dejar de asistir</button>
                </form>

                <hr>

            </div>

            {{/each}}

            {{/unless}}

            {{#unless emptyLeadMeetup}}

            <h2 class="main-title">Estos son los encuentros que has organizado</h2>

            {{#each meetupsOwner}}

            <div>
                <p><strong>Nombre:</strong> {{name}}</p>
                <p><strong>Descripción:</strong> {{description}}</p>
                <p><strong>Fecha y hora:</strong> {{date}}</p>
                <p><strong>Dirección:</strong> {{address}}</p>


                <div class="buttons">
                    <a class="btn btn-light" href="/meetup/edit/{{id}}">Editar el encuentro</a>

                    <form method="POST" action="/meetup/cancel/{{id}}">
                        <button name="active" type="submit" class="btn btn-light">Cancelar</button>
                    </form>
                </div>
                <hr>
            </div>
            {{/each}}

            {{/unless}}

        </div>

    </div>

</div>