 <h1>PERFIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIL</h1>

{{#with user}}
<p>Nombre: {{name}}</p>
<p>Apellidos: {{lastname}}</p>
<p>Correo electrónico: {{email}}</p>
<a href="/profile/edit">Editar perfil</a>
{{/with}}

{{#if isTeach}}
<h2>Estas son tus clases como profe</h2>

{{#each courses}}
    <p>Nombre: {{name}}</p>
    <p>Descripción: {{description}}</p>
    <p>Fecha: {{date}}</p>
    <hr>
{{/each}}

<h2>Estas son tus clases como alumno</h2>
{{#each user.courses}}
    <p>Nombre: {{name}}</p>
    <p>Descripción: {{description}}</p>
    <p>Fecha: {{date}}</p>
    <hr>
{{/each}}
{{/if}}

{{#if isAlumni}}
<h2>Estas son tus clases como alumno</h2>
{{#each user.courses}}
    <p>Nombre: {{name}}</p>
    <p>Descripción: {{description}}</p>
    <p>Fecha: {{date}}</p>
    <hr>
{{/each}}
{{/if}}


<h2>Tus encuentros</h2>
<hr>
{{#each user.meetups}}
    <p>Nombre: {{name}}</p>
    <p>Descripción: {{description}}</p>
    <p>Fecha: {{date}}</p>
    <hr>
{{/each}}

<h2>Estos son los encuentros que has organizado</h2>
<hr>
{{#each meetupsOwner}}
    <p>Nombre: {{name}}</p>
    <p>Descripción: {{description}}</p>
    <p>Fecha: {{date}}</p>
    <hr>
    <p>cancelar</p>
    <p>editar</p>
{{/each}}

