<div class="container">

    <h1>CLASEEEEEEEEEEEEEEEEEEEEEEEEEEESSSSSS</h1>
    <div class="row">

        <div class="col-md-6">
            <div id="myCoursesMap"></div>
        </div>

        <div class="col-md-6">

            {{#if errorMsg}}
            <p style="margin-top: 10px;background: red; color: white; text-align: center; padding: 10px">
                {{errorMsg}}</p>
            {{/if}}

            {{#each isOwner}}

            <p>Nombre: {{name}}</p>

            {{#if ../isTeach}}
            <a href="/courses/edit/{{id}}">Editar detalle</a>

            <form method="POST" action="/courses/cancel/{{id}}">
                <button name="active" type="submit" class="btn btn-light">Cancelar</button>
            </form>
            {{/if}}

            {{/each}}

            {{#each notOwner}}

            <p>Nombre: {{name}}</p>

            <form method="POST" action="/courses/attend/{{id}}">
                <button name="active" type="submit" class="btn btn-light">Inscribirme en la clase</button>
            </form>
            {{/each}}

            {{#if isTeach}}
            <a href="/courses/new"> Crear nueva clase</a>
            {{/if}}

            {{#each response}}

             <p>Nombre: {{name}}</p>

            <form method="POST" action="/courses/attend/{{id}}">
                <button name="active" type="submit" class="btn btn-light">Inscribirme en la clase</button>
            </form>

            {{/each}}

        </div>

    </div>



</div>


{{!-- <h1>CLASEEEEEEEEEEEEEEEEEEEEEEEEEEESSSSSS</h1>

    {{#each response}}

    <p>Nombre: {{name}}</p>

    {{#if userLocal}}


    <a href="/courses/edit/{{id}}">Editar detalle</a>

    <form method="POST" action="/courses/cancel/{{id}}">
        <button name="active" type="submit" class="btn btn-light">Cancelar</button>
    </form>

    <form method="POST" action="/courses/attend/{{id}}">
        <button name="active" type="submit" class="btn btn-light">Inscribirme en la clase</button>
    </form>

   {{/if}}

    {{/each}}




    {{#if isTeach}}
    <a href="/courses/new" Crear nueva clase</a>
        {{/if}} --}}


<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

{{!-- <script src="/javascripts/mapstyles.js"></script> --}}
<script src="/javascripts/maps/courses-map.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key={{APIkey}}&callback=initMap"></script>