<div class="container">

    <h1>CLASEEEEEEEEEEEEEEEEEEEEEEEEEEESSSSSS</h1>
    <div class="row">

        <div class="col-md-6">
            <div id="myCoursesMap"></div>
        </div>

        <div class="col-md-6">

            {{#if errorMsg}}
            <p style="margin-top: 10px;background: red; color: white; text-align: center; padding: 10px">
                {{errorMsg}}</p>
            {{/if}}

            <form action="/courses/search" method="POST">
                <select name="styles" class="custom-select custom-select-sm">
                    <option selected>Open this select menu</option>
                    <option value="Salsa casino">Salsa casino</option>
                    <option value="Bachata">Bachata</option>
                    <option value="Hip-hop">Hip-hop</option>
                    <option value="Afrobeats">Afrobeats</option>
                    <option value="Tango">Tango</option>
                    <option value="Twist">Twist</option>
                    <option value="Flamenco">Flamenco</option>
                    <option value="Reggeaton">Reggeaton</option>
                    <option value="Twerk">Twerk</option>
                    <option value="Funky">Funky</option>
                    <option value="Zumba">Zumba</option>
                    <option value="Dancehall">Dancehall</option>
                </select>

                <button type="submit">Filtrar</button>
            </form>


            {{#each isOwner}}

            <p>Nombre: {{name}}</p>

            {{#if ../isTeach}}
            <a href="/courses/edit/{{id}}">Editar detalle</a>

            <form method="POST" action="/courses/cancel/{{id}}">
                <button name="active" type="submit" class="btn btn-light">Cancelar</button>
            </form>
            {{/if}}

            {{/each}}

            {{#each notOwner}}

            <p>Nombre: {{name}}</p>

            <form method="POST" action="/courses/attend/{{id}}">
                <button name="active" type="submit" class="btn btn-light">Inscribirme en la clase</button>
            </form>

            {{/each}}

            {{#if isTeach}}
            <a href="/courses/new"> Crear nueva clase</a>
            {{/if}}

            {{#each response}}

            <p>Nombre: {{name}}</p>

            <form method="POST" action="/courses/attend/{{id}}">
                <button name="active" type="submit" class="btn btn-light">Inscribirme en la clase</button>
            </form>

            {{/each}}

        </div>

    </div>

</div>



<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

{{!-- <script src="/javascripts/mapstyles.js"></script> --}}
<script src="/javascripts/maps/courses-map.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key={{APIkey}}&callback=initMap"></script>