<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">

            <h1>Editar clase</h1>

            <form action="/courses/edit/{{id}}" method="POST">

                <div class='form-group'>
                    <label for='name'>Nombre de tu clase</label>
                    <input name='name' type='text' class='form-control' placeholder='Nombre de la clase' id='name'
                        value="{{name}}" required>
                </div>

                <div class="form-group">
                    <label for="style">Estilo de baile</label>
                    <select name="style" class="form-control" id="style">
                        <option value="{{style}}">{{style}}</option>
                        <option value="Salsa casino">Salsa casino</option>
                        <option value="Bachata">Bachata</option>
                        <option value="Hip-hop">Hip-hop</option>
                        <option value="Afrobeats">Afrobeats</option>
                        <option value="Tango">Tango</option>
                        <option value="Twist">Twist</option>
                        <option value="Flamenco">Flamenco</option>
                        <option value="Reggeaton">Reggeaton</option>
                        <option value="Twerk">Twerk</option>
                        <option value="Funky">Funky</option>
                        <option value="Zumba">Zumba</option>
                        <option value="Dancehall">Dancehall</option>
                    </select>
                </div>

                <div class='form-group'>
                    <label for='description'>Descripci贸n</label>
                    <input name='description' type='text' class='form-control' placeholder='Descripci贸n de la clase'
                        id='description' value="{{description}}" required>
                </div>

                <div class='form-group'>
                    <label for='date'>Fecha y hora</label>
                    <input name='date' type='text' class='form-control' placeholder='Fecha y hora' id='date'
                        value="{{date}}" required>
                </div>

                <div class='form-group'>
                    <label for='address'>Direcci贸n</label>
                    <input name='address' type='textbox' class='form-control' placeholder="Direcci贸n" id='address'
                        value="{{address}}" required>
                </div>

                <button type='submit' class='btn btn-light btn-block'>Guardar cambios</button>
            </form>


            <div class='form-group'>
                <div class="custom-file">
                    <form action="/courses/edit/course-picture/{{id}}" method="POST" enctype="multipart/form-data">
                        <div class="browse-file">
                            <label class="custom-file-label" for='image'>Imagen de tu clase</label>
                            <input name='image' type="file" class="custom-file-input"
                                placeholder='Selecciona un archivo' id='image'>
                        </div>
                        <button type='submit' class='btn btn-light btn-block'>Actualizar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>